---
- name: Ensure dotfiles repository is present
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    version: "{{ dotfiles_branch }}"
    dest: "/home/{{ user }}/dotfiles"
    update: true
    force: true
  become: true
  become_user: "{{ user }}"

- name: Create zsh cache dir
  ansible.builtin.file:
    path: "/home/{{ user }}/.cache/zsh"
    mode: '0700'
    owner: "{{ user }}"
    group: "wheel"
    state: directory
    recurse: true
  become: true

- name: Stow dotfiles into home directory
  become: true
  become_user: "{{ user }}"
  ansible.builtin.shell: |
    stow -t "$HOME" --dotfiles .
  args:
    chdir: "/home/{{ user }}/dotfiles"
  environment:
    HOME: "/home/{{ user }}"
